$icomoon-font-family: "Endava-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-calendar: "\e921";
$icon-man: "\e922";
$icon-airplane: "\e923";
$icon-arrow-right: "\e902";
$icon-curly-arrow: "\e90d";
$icon-account-hand: "\e900";
$icon-alien-arrow: "\e901";
$icon-bank: "\e903";
$icon-bookmark: "\e904";
$icon-bulb: "\e905";
$icon-car: "\e906";
$icon-card: "\e907";
$icon-cart: "\e908";
$icon-chart: "\e909";
$icon-chip: "\e90a";
$icon-coins: "\e90b";
$icon-connected-dots: "\e90c";
$icon-group: "\e90e";
$icon-growing-chart: "\e90f";
$icon-heart-diagram: "\e910";
$icon-heart-hand: "\e911";
$icon-key: "\e912";
$icon-lock: "\e913";
$icon-pen: "\e914";
$icon-recicle: "\e915";
$icon-safe: "\e916";
$icon-signal: "\e917";
$icon-simple-cart: "\e918";
$icon-square: "\e919";
$icon-squares: "\e91a";
$icon-torch: "\e91b";
$icon-triangle: "\e91c";
$icon-tv: "\e91d";
$icon-waypoint: "\e91e";
$icon-world-wide-video: "\e91f";
$icon-world-wide: "\e920";

