section.card-wrapper,
div.card-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, [col-start] minmax(10px, 1fr) [col-end]);
    grid-auto-rows: minmax(136px, 1fr);
    row-gap: 16px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;

    &.card-wrapper--arrowed {
        grid-auto-rows: minmax(200px, auto);
    }

    &.card-wrapper--5col {
        -ms-grid-columns: ([col-start] minmax(100px, 1fr) [col-end])[5];
        grid-template-columns: repeat(5, [col-start] minmax(100px, 1fr) [col-end]);
    }

    &.card-wrapper--3col {
        -ms-grid-columns: ([col-start] minmax(100px, 1fr) [col-end])[3];
        grid-template-columns: repeat(3, [col-start] minmax(100px, 1fr) [col-end]);
    }
}


/*Desktop*/
@media screen and (min-width: 1280px) {

    section.card-wrapper,
    div.card-wrapper {
        -ms-grid-columns: ([col-start] minmax(100px, 1fr) [col-end])[4];
        grid-template-columns: repeat(4, [col-start] minmax(100px, 1fr) [col-end]);
    }
}