@import '~@fluentui/react/dist/sass/References.scss';

a.link {
  all: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 56px;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  box-sizing: border-box;
  cursor: pointer;

  & > span, & > p {
    color: #4A5359;
    transition: color 0.3s ease-out;
  }

  &.link--block {
    max-width: fit-content;
  }

  &>i+span,
  &>span+i {
    margin-left: 16px;
  }

  &.link--ghost {
    background-color: transparent;
  }

  &.link--white-bg {
    background-color: #F0F3F3;
    padding: 0 18px;

    &:focus, &:focus-visible {
      & > span, & > p {
        color: #4A5359;
      }

      background-color: #e5e5e5;
    }
  }

  &:hover {
    & > span, & > p {
      color: #DE411B;
    }
  }

  &:focus, &:focus-visible {
    background-color: #f0f3f3;
  }

  &.link--bordered {
    background-color: transparent;
    padding: 0 18px;
    border: 1px solid #DE411B;

    & > span, & > p {
      color: #DE411B;
    }

    &:hover,
    &:focus {
      background-color: #fdf5f4;
    }
  }

  & i.icon.icon--y-translated-3 {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }
}

.--no-action {
  pointer-events: none;
}
